@font-face {
	font-family: 'icomoon';
	src:url('www/fonts/icomoon.eot');
	src:url('www/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('www/fonts/icomoon.woff') format('woff'),
		url('www/fonts/icomoon.ttf') format('truetype'),
		url('www/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sermon_logo:before {
	content: "\e600";
}

.email-show-hide.ng-hide-add, .email-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.email-show-hide.ng-hide-add.ng-hide-add-active,
.email-show-hide.ng-hide-remove {
  opacity:0;
}
 
.email-show-hide.ng-hide-add,
.email-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

