$white: #fff;
$green: #BCD695;
$black: #000000;

@import "typography";
@import "compass/css3";

h1,h2,h3,h4,h5 {
  text-align: left;
  font-family: 'Roboto Slab';
  font-weight: 400;
}


.home {
  padding: 200px 0 150px 0;
}


table {
  background-color: none;
}
.navbar-default {
  background: none;
  margin-bottom: 0;

  li {
    cursor: pointer;
  }
}

.brand {
  padding-top: 5px;
}

.composition {
  // background: url('../img/320x480_bg.png') repeat;
  background: lighten($black, 0.5);
  color:$white;
  @include box-shadow(0px 0px 25px 4px #222);
}
.col-centered {
  margin:0 auto;
  float:none;
  padding-top: 15px;
  padding-bottom: 15px;
}
input {
	width:100%;
	height:45px;
	border:0;
	font-size: 22px;
}

body {
	font-size: 16px;
  // background: #ffffff;
  background: url(../img/bg_field.jpg);
  background-size: cover;
  color: $black;

}

.form-control {
  margin-bottom: 15px;
}

.dashboard {
  h2 {
    color: #ffffff;
  }

  ul {
    list-style:none outside;
    padding:0 7px;
  }

  .label {
    color: $green;
  }
}
.create {
 // background: url("../img/create_bg.jpg") no-repeat top left;
  // background: url(../img/bg_field.jpg);

  height:inherit;


}
  .contents {
    padding: 80px 40px 150px 40px;
    background: rgba(0,0,0, 0.3);
    height: auto;
    h1,p {
      color: $white;
    }

    p {
      background: rbga(black, 0.8);
    }

    input[type="text"], input[type="date"]{
      @include transition(all .4s);
      background: rgba($black, 0.8);
      border:1px solid transparent;
      color: $green;

      &:focus {
        @include transition(all .4s);
        border-bottom: 1px solid $white;
        background: rgba($black, .4);
        color:$white;
      }
      &:placeholder {
        color: $green;
      }

    }


    div[contenteditable], textarea {
      background: rgba($black, 0.8);
      width: 100%;
      border:1px solid transparent;
      color: $green;

      &:focus {
         background: rgba($black, .4);
         border-bottom: 1px solid $white;
         color:$white;
      }
    }

    label {
      &.template-selector {
        color: $green;
        @include text-shadow(2px 2px 3px $black);
      }
    }

  }



* {
    box-sizing: border-box;
    position: relative;
    outline: none;
}
.form-control.ta-editor {
  height:inherit;
}

.ta-toolbar.btn-toolbar .btn {
  padding: 5px;
}

.template {

  &.preview {
    h3 {
      text-align: left;
    }

    .holder {
      padding:0 10px;
      background: rgba($white, 0.6);
      height: inherit;
    }
  }
}

.template--name {
  color: $white;
}

.template--modifiers {
  font-size: 0.8em;
}

.template--list {
  li {
    padding: 10px 0 0 0;

    &:first-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($green, 0.8);
    }
  }
}

.reveal-animation {
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }

}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}
.ng-enter {
  animation: fadeIn 0.4s;
}

.ng-leave {
  animation: fadeOut 0.4s;
}
