/*! SermonNotes - 2.0.0 - 2015-06-16 */

@font-face {
  font-family: 'icomoon';
  src: url("www/fonts/icomoon.eot");
  src: url("www/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("www/fonts/icomoon.woff") format("woff"), url("www/fonts/icomoon.ttf") format("truetype"), url("www/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../src/sass/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../../src/sass/_typography.scss */
.icon-sermon_logo:before {
  content: "\e600";
}

/* line 30, ../../src/sass/_typography.scss */
.email-show-hide.ng-hide-add, .email-show-hide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

/* line 39, ../../src/sass/_typography.scss */
.email-show-hide.ng-hide-add.ng-hide-add-active,
.email-show-hide.ng-hide-remove {
  opacity: 0;
}

/* line 44, ../../src/sass/_typography.scss */
.email-show-hide.ng-hide-add,
.email-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* line 8, ../../src/sass/style.scss */
h1, h2, h3, h4, h5 {
  text-align: left;
  font-family: 'Roboto Slab';
  font-weight: 400;
}

/* line 15, ../../src/sass/style.scss */
.home {
  padding: 200px 0 150px 0;
}

/* line 20, ../../src/sass/style.scss */
table {
  background-color: none;
}

/* line 23, ../../src/sass/style.scss */
.navbar-default {
  background: none;
  margin-bottom: 0;
}
/* line 27, ../../src/sass/style.scss */
.navbar-default li {
  cursor: pointer;
}

/* line 32, ../../src/sass/style.scss */
.brand {
  padding-top: 5px;
}

/* line 36, ../../src/sass/style.scss */
.composition {
  background: #010101;
  color: white;
  -webkit-box-shadow: 0px 0px 25px 4px #222222;
  -moz-box-shadow: 0px 0px 25px 4px #222222;
  box-shadow: 0px 0px 25px 4px #222222;
}

/* line 42, ../../src/sass/style.scss */
.col-centered {
  margin: 0 auto;
  float: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 48, ../../src/sass/style.scss */
input {
  width: 100%;
  height: 45px;
  border: 0;
  font-size: 22px;
}

/* line 55, ../../src/sass/style.scss */
body {
  font-size: 16px;
  background: url(../img/bg_field.jpg);
  background-size: cover;
  color: black;
}

/* line 64, ../../src/sass/style.scss */
.form-control {
  margin-bottom: 15px;
}

/* line 69, ../../src/sass/style.scss */
.dashboard h2 {
  color: #ffffff;
}
/* line 73, ../../src/sass/style.scss */
.dashboard ul {
  list-style: none outside;
  padding: 0 7px;
}
/* line 78, ../../src/sass/style.scss */
.dashboard .label {
  color: #bcd695;
}

/* line 82, ../../src/sass/style.scss */
.create {
  height: inherit;
}

/* line 90, ../../src/sass/style.scss */
.contents {
  padding: 80px 40px 150px 40px;
  background: rgba(0, 0, 0, 0.3);
  height: auto;
}
/* line 94, ../../src/sass/style.scss */
.contents h1, .contents p {
  color: white;
}
/* line 98, ../../src/sass/style.scss */
.contents p {
  background: rbga(black, 0.8);
}
/* line 102, ../../src/sass/style.scss */
.contents input[type="text"], .contents input[type="date"] {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  color: #bcd695;
}
/* line 108, ../../src/sass/style.scss */
.contents input[type="text"]:focus, .contents input[type="date"]:focus {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
/* line 114, ../../src/sass/style.scss */
.contents input[type="text"]:placeholder, .contents input[type="date"]:placeholder {
  color: #bcd695;
}
/* line 121, ../../src/sass/style.scss */
.contents div[contenteditable], .contents textarea {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  border: 1px solid transparent;
  color: #bcd695;
}
/* line 127, ../../src/sass/style.scss */
.contents div[contenteditable]:focus, .contents textarea:focus {
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid white;
  color: white;
}
/* line 135, ../../src/sass/style.scss */
.contents label.template-selector {
  color: #bcd695;
  text-shadow: 2px 2px 3px black;
}

/* line 145, ../../src/sass/style.scss */
* {
  box-sizing: border-box;
  position: relative;
  outline: none;
}

/* line 150, ../../src/sass/style.scss */
.form-control.ta-editor {
  height: inherit;
}

/* line 154, ../../src/sass/style.scss */
.ta-toolbar.btn-toolbar .btn {
  padding: 5px;
}

/* line 161, ../../src/sass/style.scss */
.template.preview h3 {
  text-align: left;
}
/* line 165, ../../src/sass/style.scss */
.template.preview .holder {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.6);
  height: inherit;
}

/* line 173, ../../src/sass/style.scss */
.template--name {
  color: white;
}

/* line 177, ../../src/sass/style.scss */
.template--modifiers {
  font-size: 0.8em;
}

/* line 182, ../../src/sass/style.scss */
.template--list li {
  padding: 10px 0 0 0;
}
/* line 185, ../../src/sass/style.scss */
.template--list li:first-of-type {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(188, 214, 149, 0.8);
}

/* line 192, ../../src/sass/style.scss */
.reveal-animation {
  opacity: 0;
}

@keyframes fadeIn {
  /* line 196, ../../src/sass/style.scss */
  from {
    opacity: 0.3;
  }

  /* line 199, ../../src/sass/style.scss */
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* line 205, ../../src/sass/style.scss */
  from {
    opacity: 1;
  }

  /* line 209, ../../src/sass/style.scss */
  to {
    opacity: 0.3;
  }
}

/* line 213, ../../src/sass/style.scss */
.ng-enter {
  animation: fadeIn 0.4s;
}

/* line 217, ../../src/sass/style.scss */
.ng-leave {
  animation: fadeOut 0.4s;
}
